@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

html {
  font-size: 10px;
}

body {
  background: no-repeat fixed  center url(./laureano-unsplash.jpg);
  background-size: cover;
}

.container-sm {
  max-width: 600px;
  padding: 4rem;
  border-radius: 15px;
}

#text {
  font-size: 2.4em;
}

.blockquote-footer {
  text-align: right;
  font-size: 2.2em;
}

#button-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bi-twitter::before {
  font-size: 4em;
}

#new-quote {
  width: 100px;
  height: 35px;
  font-size: 1.4em;
}