@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

html {
  font-size: 10px;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background: radial-gradient(#004777ff, #a30000ff, #ff7700ff, #efd28dff, #00afb5ff, #cea0aeff, #9cd08fff);
}

#quote-box {
  background-color: whitesmoke;
  width: 500px;
  min-width: 500px;
  padding: 4em;
  border-radius: 15px;
}

#text {
  font-size: 3em;
  line-height: normal;
  text-align: center;
  min-height: 100px;
}

#author {
  margin-top: 2rem;
  font-size: 20px;
  text-align: right;
}

#button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.bi-twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  text-decoration: none;
}

.bi-twitter::before {
  font-size: 3em;
}

#new-quote {
  width: 100px;
  height: 35px;
}